.book-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.book-details button {
    width: 100px;
    height: 50px;
}
.red {
    color: red
}

.green {
    color: green
}

.book-details {
    text-align: center;
}

.book-details h1 {
    font-size: 50px;
    margin: 10px;
}

.book-details a {
    color: blue;
    cursor: pointer;
}

.book-details span {
    font-size: 30px;
}

.book-details .buy {
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
    background-color: blue;
    color: whitesmoke;
    font-size: 30px;
}